---
title: Software Development Checklist
---

<%= partial "sidebar_dev" %>

<div data-id='checklist' class="content">
  <div class="container">
    <section>
      <h2>Crafting Code</h2>
      <div data-section-id='crafting-code'></div>
    </section>

    <section>
      <h2>Test Driven Development (TDD)</h2>
      <div data-section-id='tdd'></div>
    </section>

    <section>
      <h2>Refactoring</h2>
      <div data-section-id='refactoring'></div>
    </section>

    <section>
      <h2>Design Principles</h2>
      <div data-section-id='design-principles'></div>
    </section>

    <section>
      <h2>Object Oriented Design Patterns</h2>
      <div data-section-id='oo-design-patterns'></div>
    </section>

    <section>
      <h2>Pair Programming</h2>
      <div data-section-id='pair-programming'></div>
    </section>

    <section>
      <h2>Agile Software Process</h2>
      <div data-section-id='agile'></div>
    </section>

    <section>
      <h2>Estimating</h2>
      <div data-section-id='estimation'></div>
    </section>

    <section>
      <h2>Customer Collaboration</h2>
      <div data-section-id='customer-collaboration'></div>
    </section>

    <section>
      <h2>Polyglot</h2>
      <div data-section-id='polyglot'></div>
    </section>

    <section>
      <h2>Communication Skills</h2>
      <div data-section-id='dev-communication'></div>
    </section>

    <section>
      <h2>Teaching</h2>
      <div data-section-id='teaching'></div>
    </section>

    <section>
      <h2>Community Involvement</h2>
      <div data-section-id='community'></div>
    </section>

    <section>
      <h2>Collective Ownership</h2>
      <div data-section-id='collective-ownership'></div>
    </section>

    <section>
      <h2>Reading</h2>
      <ul>
        <li>Apprenticeship Patterns - Dave Hoover and Ade Oshineye</li>
        <li>Software Craftsmanship - Pete McBreen</li>
        <li>Pragmatic Programmer - Hunt / Thomas</li>
        <li>Agile Software Development, Principles, Patterns, and Practices - Bob Martin</li>
        <li>Clean Code - Bob Martin et al.</li>
        <li>Refactoring - Martin Fowler</li>
        <li>Design Patterns - Gang of Four</li>
        <li>eXtreme programming explained - Kent Beck</li>
        <li>Clean Coder - Bob Martin</li>
        <li>SICP</li>
      </ul>
    </section>
  </div>
</div>

<%= partial(:checklist_javascript) %>
