/* Sidebar/Content
-------------------------------------------------------------- */
.sidebar {
  background: #f9f9f9;
  border-right: 1px solid #eee;
}

@media (min-width: 48rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    .container { padding: 2rem; }
  }

  .content {
    margin-left: 22rem;
    margin-right: 4rem;
    max-width: 38rem;
  }
}
