/* Typography
-------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
  color: #111;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.1em;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

h3 {
  font-size: 1.1rem;
  margin: 1.5rem 0 .5rem 0;
}

p {
  color: #999;
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;
}

em {
  font-style: italic;
}

ul {
  margin: 0;
  padding-left: 1.2rem;
}

@media (min-width: 48rem) {
  .small { font-size: 0.875rem; }
}
