<script id="section-template" type="text/x-handlebars-template">
  {{#each tasks}}
  <label>
    <input type="checkbox" data-name={{name}} {{checked complete}}>
    <span>{{description}}</span>
  </label>
  {{/each}}
</script>

<script type="text/javascript">
  $(function() {
    var source = $('#section-template').html();
    var template = Handlebars.compile(source);

    Handlebars.registerHelper('checked', function(currentValue) {
      return currentValue === true ? ' checked="checked"' : '';
      });

    <% if task_type == "design" %>
      var collection = new Checklist.DesignTasks();
      var presenterData = Checklist.DesignerPresentationData
    <% else %>
      var collection = new Checklist.DevTasks();
      var presenterData = Checklist.DeveloperPresentationData
    <% end %>
    collection.fetch();
    if (collection.models.length === 0) {
      var designerData = <%= tasks.to_json %>
      _.each(designerData, function(task) {
        collection.create(task);
        });
    }

    var view = new Checklist.ChecklistView({
      collection: collection,
      presenterData: presenterData,
      template: template,
      el: $('body')
    });
    view.render();
  });
</script>
