<header>
  <div class="container">
    <%= image_tag 'clipboard.svg' %>
    <h1>Design Checklist</h1>
    <p>Novice and Resident Apprenticeship</p>

    <div class="progress-bar">
      <figure></figure>
    </div>
  </div>
</header>
