<div class="sidebar">
  <div class="container">
    <%= image_tag 'clipboard.svg' %>
    <h1>Checklist</h1>
    <p>Software Development</p>

    <div class="progress-bar">
      <figure></figure>
    </div>

    <h3>Assignments</h3>
    <ul class="small">
      <li>Blog on a weekly basis.</li>
      <li>Read one book every 1-2 weeks.</li>
      <li>Perform a Kata.</li>
      <li>Deliver at least two lightning talks.</li>
    </ul>

    <button id='clear-checklist'>Clear All</button>
  </div>
</div>
