---
title: Apprenticeship Checklist
---

<div class="container intro">
  <section>
    <%= image_tag 'clipboard.svg' %>
    <h1>Checklist</h1>
    <p>Please choose your discipline.</p>

    <div class="button-wrap">
      <%= link_to 'Software Development', '/software-development', :class => "button login" %>
      <%= link_to 'User Experience', '/user-experience', :class => "button login" %>
    </div>
  </section>
</div>

